@import url("https://fonts.googleapis.com/css2?family=Lato&family=Maven+Pro:wght@400;600;800&family=Secular+One&display=swap");
/* font-family: 'Lato', sans-serif;
font-family: 'Maven Pro', sans-serif;
font-family: 'Secular One', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 783px) {
  /* For desktop: */
  .col-1 {
    width: 20%;
  }
  .col-2 {
    width: 40%;
  }
  .col-3 {
    width: 60%;
  }
  .col-4 {
    width: 80%;
  }
  .col-5 {
    width: 100%;
  }
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.9;
  background-color: white;
  color: #5a4d69;
  font-size: 18px;
}

header {
  min-width: min-content;
}

/* Navigation bar */

.nav-bar {
  z-index: 100;
  overflow: hidden;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #f6cbd9d8;
  box-shadow: 0 1px 20px 1px #5a4d6959;
}

.sticky {
  background-color: white;
  position: fixed;
  top: 0;
}

.title-logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#logo {
  color: #5a4d69;
  margin: 0 20px;
}

#title {
  font-family: "Maven Pro", sans-serif;
  font-size: 25px;
  font-weight: 800;
  margin-right: 40px;
}

.links {
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  height: 100%;
}

.links a {
  line-height: 50px;
  text-decoration: none;
  margin-right: 30px;
  font-size: 16px;
  font-family: "Maven Pro", sans-serif;
  font-weight: 600;
  transition: 0.4s;
}

.title-logo a {
  text-decoration: none;
  color: #5a4d69;
}

.links a:hover {
  color: #5a4d69b1;
}

#mobile-nav {
  display: none;
  color: #5a4d69;
}

@media screen and (max-width: 783px) {
  .links a {
    display: none;
  }

  #mobile-nav {
    display: block;
  }

  .sidebar {
    margin: 0;
    padding: 0;
    width: auto;
    position: fixed;
    top: 50px;
    right: 0;
    overflow: auto;
    z-index: 100;
    background-color: #f6cbd9ba;
    transition: 0.5s;
  }

  .sidebar a {
    display: block;
    color: #5a4d69;
    padding: 16px;
    text-decoration: none;
    text-align: right;
    font-size: 16px;
    font-family: "Maven Pro", sans-serif;
    font-weight: 600;
    transition: 0.4s;
  }

  .sidebar a:hover {
    color: white;
  }
}

/* slides */

.slides {
  height: 95vh;
  object-fit: cover;
  z-index: -1;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Header Title & Simple Slogan */
.slogan {
  top: 35%;
  left: 10%;
  position: absolute;
  z-index: 99;
}

.slogan h1 {
  font-family: "Maven Pro", sans-serif;
  font-size: 80px;
  font-weight: 800;
  color: white;
}

.slogan p {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  margin-bottom: 100px;
  color: white;
}

@media screen and (max-width: 783px) {
  .slogan h1 {
    font-size: 70px;
  }

  .slogan p {
    font-size: 30px;
    margin-bottom: 100px;
  }
}

/* Search bar & Subcription */
@media screen and (max-width: 783px) {
  form .input-box {
    width: 80%;
    min-width: 300px;
    padding: 0;
  }

  .input-box input[type="email"],
  .input-box input[type="text"] {
    font-size: 12px;
  }

  .input-box input[type="submit"] {
    width: 20%;
    font-size: 12px;
  }
}

.search-top {
  top: 70%;
  left: 10%;
  position: absolute;
  z-index: 99;
}

.input-box {
  margin: auto;
  width: 45%;
  min-width: 435px;
  background-color: white;
  border-radius: 50rem;
  border: solid 2px #f6cbd9;
  padding: 5px;
  display: flex;
  flex-direction: row;
}

.input-box i {
  margin: 0 15px;
  background-color: transparent;
  border: none;
  color: #f6cbd9;
  transform: translateY(12px);
}

input[type="email"],
input[type="text"] {
  width: 80%;
  background-color: white;
  border: none;
  outline: none;
  color: #5a4d69;
  font-size: 18px;
  font-family: "Secular One", sans-serif;
}

::placeholder {
  color: #5a4d69;
  opacity: 0.5;
}

input[type="submit"] {
  width: 100px;
  font-size: 14px;
  border: none;
  border-radius: 50rem;
  background-color: #5a4d69;
  padding: 10px;
  color: white;
  align-self: center;
  font-family: "Secular One", sans-serif;
  transition: 0.4s;
}

input[type="submit"]:hover {
  color: white;
  background: #f6cbd9;
  cursor: pointer;
}
/* take care of cats */
@media screen and (max-width: 783px) {
  .care-content .part-title {
    font-size: 25px;
  }

  .care-content h4 {
    font-size: 12px;
  }

  section .care {
    flex-direction: column;
    padding: 2%;
  }

  .care #careImg {
    display: none;
  }

  .care .care-content {
    width: 100%;
    padding: 2%;
  }
}

.part-title {
  font-family: "Secular One", sans-serif;
  font-size: 40px;
}

.care {
  padding: 5%;
  display: flex;
  flex-direction: row;
}

#careImg {
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 10px 10px 30px 1px #5a4d6957;
  width: 40%;
}

.care-container {
  margin: 2% 0;
}

.care-content {
  width: 60%;
  padding: 0 5% 0 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.care-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.care-content h4 {
  font-size: 20px;
  font-weight: 600;
  margin-left: 10px;
}

.care-content p {
  color: black;
  line-height: 30px;
  text-align: justify;
}

/* pick your cat */
@media screen and (max-width: 783px) {
  section .pick {
    padding: 0 2% 2% 2%;
  }

  .pick .pick-title {
    font-size: 25px;
  }

  .pick .pics-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0;
    justify-items: center;
  }

  .pick .pick-img {
    margin: 10px;
    vertical-align: middle;
    width: 90%;
    box-shadow: 2px 2px 15px 0 #5a4d69a8;
    border-radius: 50%;
    transition: 0.2s;
  }

  .pick .mobile-9 {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 60%;
  }
}

.pick {
  padding: 0 5% 5% 5%;
  text-align: center;
}

.pics-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 35px;
}

.pick-title {
  padding: 10px;
  text-align: start;
  font-family: "Secular One", sans-serif;
  font-size: 40px;
}

.pick-img {
  margin: 20px;
  vertical-align: middle;
  width: 90%;
  box-shadow: 2px 2px 15px 0 #5a4d69a8;
  border-radius: 50%;
  transition: 0.2s;
}

.pick-img:hover {
  animation: shake 0.5s;
  cursor: pointer;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

input[type="button"] {
  margin-top: 30px;
  width: 150px;
  height: 60px;
  background: transparent;
  border: solid 2px #f6cbd9;
  border-radius: 50rem;
  padding: 15px;
  font-family: "Secular One", sans-serif;
  font-size: 20px;
  color: #5a4d69;
  transition: 0.4s;
}

input[type="button"]:hover {
  color: white;
  background: #f6cbd9;
  cursor: pointer;
}

/* contact box */
@media screen and (max-width: 783px) {
  .footer-box #showModal {
    font-size: 12px;
  }

  section .contact-box {
    width: 80%;
    bottom: 15%;
    left: 10%;
    margin-left: 0;
    margin-bottom: 0;
  }

  .contact-box .close-modal {
    font-size: 35px;
  }

  .contact-box h2 {
    font-size: 20px;
  }
}

.contact-box {
  width: 600px;
  position: fixed;
  bottom: 50%;
  left: 50%;
  /* to center the box */
  margin-left: -270px;
  margin-bottom: -232.5px;
  background-color: #5a4d69e7;
  color: #f6cbd9;
  text-align: center;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 2px 2px 15px 0 #5a4d69a8;
  z-index: 100;
}

.close-modal {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 40px;
  color: #f6cbd9;
  cursor: pointer;
  border: none;
  background: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e9e3e672;
  backdrop-filter: blur(3px);
  z-index: 1;
}

.hidden {
  display: none;
}

#showModal {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #f6cbd9;
  font-size: 16px;
  font-family: "Maven Pro", sans-serif;
  font-weight: 600;
}

.contact-form {
  width: 100%;
  padding: 12px;
  resize: vertical;
  display: grid;
  gap: 20px 20px;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr 3fr 0.5fr;
}

.contact-form input:invalid:required {
  background-image: linear-gradient(300deg, #5a4d69, #f6cbd9);
}

.contact-box h2 {
  font-family: "Secular One", sans-serif;
  padding: 20px 0;
}

.contact-box input[type="text"],
.contact-box input[type="email"] {
  width: 100%;
  padding: 5px;
  color: #5a4d69;
}

#message {
  padding: 10px;
  font-family: "Secular One", sans-serif;
}

#send {
  background-color: #f6cbd9;
}

#send:hover {
  background-color: #5a4d69;
  color: #f6cbd9;
}

/* subscription */
@media screen and (max-width: 783px) {
  section .subscription {
    margin-top: 50px;
  }

  #mobile-sub {
    width: auto;
    margin: 0 3%;
  }

  .subscription .s-title {
    font-size: 25px;
  }
}

.subscription {
  padding-top: 50px;
  background: #5a4d69;
  border-top-left-radius: 1.875rem;
  border-top-right-radius: 1.875rem;
}

.s-title {
  text-align: center;
  font-family: "Secular One", sans-serif;
  font-size: 30px;
  color: #f6cbd9;
}

.subscription p {
  font-size: 13px;
  margin-top: 10px;
  color: #f6cbd9;
  text-align: center;
}
/* Footer */

@media screen and (max-width: 783px) {
  footer .footer-box {
    justify-content: space-around;
    flex-direction: column;
    margin: 0 12px;
    padding-top: 15px;
    align-items: flex-end;
    padding-bottom: 15px;
  }

  .footer-box .mobile-footer {
    font-size: 12px;
    margin: 5px 0;
  }
}

footer {
  background-color: #5a4d69;
}

.footer-box {
  padding-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 40px;
}

.footer-box a {
  text-decoration: none;
  color: #f6cbd9;
  font-size: 16px;
  font-family: "Maven Pro", sans-serif;
  font-weight: 600;
}
