@import url("https://fonts.googleapis.com/css2?family=Lato&family=Maven+Pro:wght@400;600;800&family=Secular+One&display=swap");
/* font-family: 'Lato', sans-serif;
font-family: 'Maven Pro', sans-serif;
font-family: 'Secular One', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 20%;
  }
  .col-2 {
    width: 40%;
  }
  .col-3 {
    width: 60%;
  }
  .col-4 {
    width: 80%;
  }
  .col-5 {
    width: 100%;
  }
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.9;
  background-color: white;
  color: #5a4d69;
  font-size: 18px;
}

/* Navigation bar */

.nav-bar {
  z-index: 100;
  overflow: hidden;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #f6cbd9d8;
  box-shadow: 0 1px 20px 1px #5a4d6959;
}

.sticky {
  background-color: white;
  position: fixed;
  top: 0;
}

.title-logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#logo {
  color: #5a4d69;
  margin: 0 20px;
}

#title {
  font-family: "Maven Pro", sans-serif;
  font-size: 25px;
  font-weight: 800;
  margin-right: 40px;
}

.links {
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  height: 100%;
}

.links a {
  line-height: 50px;
  text-decoration: none;
  margin-right: 30px;
  font-size: 16px;
  font-family: "Maven Pro", sans-serif;
  font-weight: 600;
  transition: 0.4s;
}

.links a:hover {
  color: #5a4d69b1;
}

/* slides */

.slides {
  height: 95vh;
  object-fit: cover;
  z-index: -1;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Header Title & Simple Slogan */
.slogan {
  top: 35%;
  left: 10%;
  position: absolute;
  z-index: 99;
}

.slogan h1 {
  font-family: "Maven Pro", sans-serif;
  font-size: 80px;
  font-weight: 800;
  color: white;
}

.slogan p {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  margin-bottom: 100px;
  color: white;
}

/* Search bar & Subcription */

.search-top {
  top: 70%;
  left: 10%;
  position: absolute;
  z-index: 99;
}

.part-title {
  font-family: "Secular One", sans-serif;
  font-size: 40px;
}

.input-box {
  margin: auto;
  width: 45%;
  background-color: white;
  border-radius: 50rem;
  border: solid 2px #f6cbd9;
  padding: 5px;
  display: flex;
  flex-direction: row;
}

.input-box i {
  margin: 0 15px;
  background-color: transparent;
  border: none;
  color: #f6cbd9;
  transform: translateY(12px);
}

input[type="email"],
input[type="text"] {
  width: 80%;
  background-color: white;
  border: none;
  outline: none;
  color: #5a4d69;
  font-size: 18px;
  font-family: "Secular One", sans-serif;
}

::placeholder {
  color: #5a4d69;
  opacity: 0.5;
}

input[type="submit"] {
  width: 100px;
  font-size: 14px;
  border: none;
  border-radius: 50rem;
  background-color: #5a4d69;
  padding: 10px;
  color: white;
  align-self: center;
  font-family: "Secular One", sans-serif;
  transition: 0.4s;
}

input[type="submit"]:hover {
  color: white;
  background: #f6cbd9;
  cursor: pointer;
}
/* take care of cats */

.care {
  margin: 5%;
  display: flex;
  flex-direction: row;
}

#careImg {
  border-radius: 20px;
  box-shadow: 10px 10px 30px 1px #5a4d6957;
}

.care-container {
  margin: 2% 0;
}

.care-content {
  padding: 0 5% 0 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.care-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.care-content h4 {
  font-size: 20px;
  font-weight: 600;
  margin-left: 10px;
}

.care-content p {
  color: black;
  line-height: 30px;
  text-align: justify;
}

/* pick your cat */
.pick {
  margin: 5%;
}

.pics-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pick-title {
  padding: 10px;
  text-align: start;
}

.row {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
}

.column {
  padding: 10px 20px;
  max-width: 33.3%;
}

.pick-img {
  margin: 20px 0;
  vertical-align: middle;
  width: 100%;
  box-shadow: 2px 2px 15px 0 #5a4d69a8;
  border-radius: 50%;
  transition: 0.2s;
}

.pick-img:hover {
  animation: shake 0.5s;
  cursor: pointer;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

input[type="button"] {
  width: 150px;
  height: 60px;
  background: transparent;
  border: solid 2px #f6cbd9;
  border-radius: 50rem;
  padding: 15px;
  font-family: "Secular One", sans-serif;
  font-size: 20px;
  color: #5a4d69;
  transition: 0.4s;
}

input[type="button"]:hover {
  color: white;
  background: #f6cbd9;
  cursor: pointer;
}

/* contact box */

.contact-box {
  position: fixed;
  bottom: 50%;
  left: 50%;
  background-color: #5a4d69;
  color: #f6cbd9;
  text-align: center;
  padding: 60px;
  border-radius: 5px;
  box-shadow: 2px 2px 15px 0 #5a4d69a8;
  z-index: 2;
}

.close-modal {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 40px;
  color: #f6cbd9;
  cursor: pointer;
  border: none;
  background: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e9e3e672;
  backdrop-filter: blur(3px);
  z-index: 1;
}

.hidden {
  display: none;
}

#showModal {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #f6cbd9;
  font-size: 16px;
  font-family: "Maven Pro", sans-serif;
  font-weight: 600;
}
/* subscription */

.subscription {
  padding-top: 50px;
  background: #5a4d69;
  border-top-left-radius: 1.875rem;
  border-top-right-radius: 1.875rem;
}

.s-title {
  text-align: center;
  font-family: "Secular One", sans-serif;
  font-size: 30px;
  color: #f6cbd9;
}

.subscription p {
  font-size: 13px;
  margin-top: 10px;
  color: #f6cbd9;
  text-align: center;
}
/* Footer */

footer {
  background-color: #5a4d69;
  padding-top: 70px;
  padding-bottom: 40px;
}

.footer-tb {
  margin: auto;
  width: 80%;
}

.footer-tb td {
  margin: auto;
  text-align: center;
}

.footer-tb td a {
  text-decoration: none;
  color: #f6cbd9;
  font-size: 16px;
  font-family: "Maven Pro", sans-serif;
  font-weight: 600;
}
